.product {
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 10px -6px black;
    margin: 50px;
    background: #2078a0;
}

.frame {
    width: 250px;
    height: 300px;
}

.frame img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description {
    width: 250px;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: space-around;
}

.description h1 {
    font-size: 20px;
}

.description h2 {
    font-size: 16px;
}

.link {
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: #57772a;
    width: fit-content;
    padding: 5px;
    color: #b7e415;
}

/* estilos exclusivos ItemDetail */

.counter {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background-color: white;
    padding: 7px;
}

.counter p {
    color: black;
    font-size: 15px;
}

.counter button {
    background: none;
    height: 25px;
    border: none;
    height: 16px;
    cursor: pointer;
}