
.container {
    display: flex;
    justify-content: space-around;
}

.product {
    height: fit-content;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 10px 10px -6px black;
    margin: 50px;
    cursor: pointer;
}

.frame {
    width: 250px;
    height: 300px;
}

.frame img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.description {
    background: linear-gradient(to bottom, #19587b, #2078a0);
    color: white;
    padding: 15px;
}

.description h1 {
    font-size: 16px;
    margin: 10px 0px;
}

.description h2 {
    font-size: 20px;
    background-color: #4c6b22;
    width: fit-content;
    padding: 10px;
    color: #a3cc0b;
}

.link {
    background: none;
    color: white;
    border: none;
    margin: 0px 10px 0px 0px;
}
